<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Mulish:wght@300;600;700&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>
<body>
    <main class="main">

        <section class="sideBar">
            <a href="../Home/index.html" class="sideBar__navigate"><i class="fa-solid fa-chevron-left"></i> Вернуться на сайт</a>
            <div class="admin">
                <img src="../img/FAQ/admin.svg" alt="">
                <h3 class="admin__user">semenannn</h3>
            </div>
            <div class="buttonConatiner">
                <div class="tab">
                    <img src="../img/FAQ/Vector (3).svg"" alt="">
                    <a href="./FAQ.html" class="tab__text">Пополнение кошелька</a>
                </div>
                <div class="tab">
                    <img src="../img/FAQ/Vector (2).svg" alt="">
                    <a href="../vuvod/vuvod.html" class="tab__text">Вывод средств</a>
                </div>
            </div>

        </section>
        <div class="section">
            <div class="tabPanel">
                <section id="id_01" class="option">
                    <div class="tabPanel">
                    <nav class="option__nav">
                        <h2 class="option__nav-title">Пополнение кошелька</h2>
                        <div class="select">
                            <img src="../img/FAQ/Vector (3).svg" alt="" class="option__nav-wallet">
                            <p class="option__nav-text">3400USDT</p>
                        </div>
                        <button class="option__nav-btn">Выйти из аккаунта</button>
                    </nav>
                    <div class="from">
                        <form action="" class="form">
                            <label for="" class="form__label">
                                <p class="form__label-sum">Способ оплаты</p>
                                <select name="" id="" class="selectt">
                                    <option value="0" class="selectt__option">qiwi</option>
                                    <option value="1" class="selectt__option">pay 24</option>
                                    <option value="2" class="selectt__option">web manay</option>
                                    <option value="3" class="selectt__option">сбер банк</option>
                                </select><br/>
                                <p class="form__label-text">Сумма</p>
                                <input class="form__label-int" type="number" name="" id="" placeholder="Введите сумму в USDT"><br>
                                <button type="submit" class="form__label-btn">Пополнить кошелек</button>
                            </label>
                        </form>
                        <div class="box">
                            <div class="box__head">
                                <div class="div">
                                    <img src="../img/FAQ/circle.svg" alt="" class="box__head-img">
                                    <p class="box__head-text">Общие начисления</p>
                                </div>
                                <p class="box__head-sum">Сумма кошелька</p>
                            </div>
                            <div class="row">
                                
                                    <div class="col-4">
                                        <div class="box__body">
                                        <h4 class="box__body-title">BASE</h4>
                                        <p class="box__body-text">Базовая</p>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="box__body">
                                        <h4 class="box__body-title">100 USDT</h4>
                                        <p class="box__body-text">За удержание</p>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="box__body">
                                        <h4 class="box__body-titles">100 USDT</h3>
                                            </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <table class="table">
                    <thead class="table__head">
                        <tr>
                            <th class="tabel__head-title">История операций</th>
                            <th class="tabel__head-title"></th>
                            <th class="tabel__head-title"></th>
                            <th class="tabel__head-title"></th>
                            <th class="tabel__head-titles">Все операции</th>
                        </tr>
                    </thead>
                    <tbody class="table__body">
                        <tr>
                            <td class="table__body-text">Все операции</td>
                            <td class="table__body-text">Статус</td>
                            <td class="table__body-text">Сумма</td>
                            <td class="table__body-text">Дата</td>
                            <td class="table__body-text">Комментарий</td>
                        </tr>
                        <tr>
                            <td class="table__body-text">1</td>
                            <td class="table__body-span"><span>Выполнено</span></td>
                            <td class="table__body-text">24.000 USDT</td>
                            <td class="table__body-text">16.08.2022</td>
                            <td class="table__body-text"></td>
                        </tr>
                        <tr>
                            <td class="table__body-text">2</td>
                            <td class="table__body-span1"><span>Отменено</span></td>
                            <td class="table__body-text">24.000 USDT</td>
                            <td class="table__body-text">16.08.2022</td>
                            <td class="table__body-text">Средства не были <br> выведены, возникли <br> проблемы с соединением, <br> попробуйте еще раз</td>
                        </tr>
                    </tbody>
                    </table>
                    </div>
                </section>
            </div>
        </div>
    </main>
    <script src="../tab/myScript.js"></script>
</body>
</html>
