<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Mulish:wght@300;600;700&display=swap" rel="stylesheet"/>
    
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="header__logo">
          <img src="../img/header/logo.svg" alt="" />
        </div>
        <nav class="header__nav">
          <ul class="header__menu">
            <li class="header__menu-link"><a href="./index.html">Главная</a></li>
            <li class="header__menu-link"><a href="">Пул ликвидности</a></li>
            <li class="header__menu-link"><a href="../FAQ/FAQ.html">FAQ</a></li>
          </ul>
        </nav>
        <div class="header__content">
          <button class="header__content-btn">Вход /</button>
          <button class="header__content-btn">Регистрация</button>
        </div>
      </header>
      <div class="logo">
        <h2 class="logo__title">Пул ликвидности</h2>
    </div> 
<main class='Mainer'>

        <section class='invest'>
            <div class="invest__content">
                <h2 class="invest__content-interest">15%</h2>
                <p class="invest__content-number">от 15% до 25%</p>
                <p class="invest__content-mouth">в месяц</p>
                <h3 class="invest__content-title">Пул ликвидности<br/>от 100 USDT Бессрочный</h3>
                <!-- <h3  class="invest__content-title"></h3>
                <h3 class="invest__content-liquidity1"></h3>  -->
                <p class="invest__content-text">Возврат инвестиций<br/> в любое время</p>
                <button class="invest__content-btn" >Инвестировать</button>
            </div>
        </section>
        <table class='table'>
            <thead>
            <tr class='table__head'>
                <th class='table__head-title padding'>№</th>
                <th class='table__head-title'>СУММА%</th>
                <th class='table__head-title'>СРОК</th>
                <th clase='table__head-title'>Базовый % прибыли</th>
            </tr>
            </thead>
            <tbody class='table__body'>
                <tr class='table__body'>
                <td class='table__body-text padding'>1</td>
                <td class='table__body-text'>100-2500</td>
                <td class='table__body-text'>активный сразу</td>
                <td class='table__body-link'>15%</td>
                </tr>
                <tr class='table__body'>
                <td class='table__body-text padding'>2</td>
                <td class='table__body-text'>до 5000</td>
                <td class='table__body-text'>активный 01.09.2022</td>
                <td class='table__body-link'>16%</td>
                </tr>
                <tr class='table__body'>
                <td class='table__body-text padding'>3</td>
                <td class='table__body-text'>до 7500</td>
                <td class='table__body-text'>активный 01.10.2022</td>
                <td class='table__body-link'>17%</td>
                </tr>
                <tr class='table__body'>
                <td class='table__body-text padding'>4</td>
                <td class='table__body-text'>до 10000</td>
                <td class='table__body-text'>активный 01.11.2023</td>
                <td class='table__body-link'>18%</td>
                </tr>
                <tr class='table__body'>
                <td class='table__body-text padding'>5</td>
                <td class='table__body-text'>до 15000</td>
                <td class='table__body-text'>активный 01.12.2022</td>
                <td class='table__body-link'>19%</td>
                </tr>
                <tr class='table__body'>
                <td class='table__body-text padding'>6</td>
                <td class='table__body-text'>до 20000</td>
                <td class='table__body-text'>активный 01.01.2023</td>
                <td class='table__body-link'>20%</td>
                </tr>
                <tr class='table__body'>
                <td class='table__body-text padding'>7</td>
                <td class='table__body-text'>до 25000</td>
                <td class='table__body-text'>активный 01.02.2023</td>
                <td class='table__body-link'>21%</td>
                </tr>
                <tr class='table__body'>
                <td class='table__body-text padding'>8</td>
                <td class='table__body-text'>до 30000</td>
                <td class='table__body-text'>активный 01.03.2023</td>
                <td  class='table__body-link'>23%</td>
                </tr>
                <tr class='table__body'>
                <td class='table__body-text padding'>9</td>
                <td class='table__body-text'>до 35000</td>
                <td class='table__body-text'>активный 01.04.2023</td>
                <td class='table__body-link'>24%</td>
                </tr>
                <tr class='table__body'>
                <td class='table__body-text padding'>10 </td>
                <td class='table__body-text'>до 40000</td>
                <td class='table__body-text'>активный 01.05.2023</td>
                <td class='table__body-link'>25%</td>
                </tr>
                <tr class='table__body'>
                <td class='table__body-text padding'>11 </td>
                <td class='table__body-text'>до 50000</td>
                <td class='table__body-text'>активный 01.06.2023</td>
                <td class='table__body-link'>26%</td>
                </tr>
            </tbody>
        </table>
        <section class='conditions'> 
                        <div class="wrapper"> 
                            <div class="conditions__body"> 
                                <h1 class='conditions__title'>Условия</h1> 
                                <ul class="conditions__box"> 
                                    <p class='conditions__text'> 
                                        Депозит возвращается в любое время, срок вывода 21 рабочий день 
                                    </p> 
                                    <p class='conditions__text'>Процент: 15 - 25% в месяц</p> 
                                    <p class='conditions__text'> 
                                        Дополнительно +1% к базовому вознаграждению за удержание депозита и процентов (каждую неделю) 
                                    </p> 
                                    <p class='conditions__text'> 
                                        Откат процентов обратно, если частично или полностью снимали проценты или депозит 
                                    </p> 
                                    <p class='conditions__text'> 
                                        Комиссия на вывод 5% 
                                    </p> 
                                    <p class='conditions__text'> 
                                        Внутренний перевод средств моментальный и без комиссий 
                                    </p> 
                                    <p class='conditions__text'> 
                                        Вывод процентов до 3-х рабочих дней 
                                    </p> 
 
                                </ul> 
                            </div> 
                        </div> 
        </section>
        </main>
        <footer class="footer">
            <div class="footer__logo">
              <img src="../img/header/logo.svg" alt="">
            </div>
            <nav>
              <p class="footer__nav-text">© 2022 Arbitrum. All rights reserved.
                Политика конфиденциальности</p>
            </nav>
          </footer>
</body>
</html>
