<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>ArbitRoom</title>
</head>
<body>
    <main>
    <section class="sideBar">
        <a href="../Home/index.html" class="sideBar__navigate"><i class="fa-solid fa-chevron-left"></i> Вернуться на сайт</a>
        <div class="admin">
            <img src="../img/FAQ/admin.svg" alt="">
            <h3 class="admin__user">semenannn</h3>
        </div>
        <div class="tab" id="id_01">
            <img src="../img/FAQ/Vector (3).svg" alt="">
            <a href="../FAQ/FAQ.html" class="tab__text">Пополнение кошелька</a>
        </div>
        <div class="tab" id="id_02">
            <img src="../img/FAQ/Vector (2).svg" alt="">
            <a href="./vuvod.html" class="tab__text">Вывод средств</a>
        </div>
    </section>
    <section>
      <div class="logo__header">
        <h2>Пополнение кошелька</h2>
        <img src="./img/Vector.png" class="vector__wallet">
        </div>
    <div class="container">
        <div class="container__logo">
          <h2 class="container__logo-title">Информация о пользователях</h2>
        </div>
        <table class='tables'>
          <thead >
            <tr class='tables__head'>
              <th class='tables__head-title'>Пользователель</th>
              <th class='tables__head-title'>Статус</th>
              <th class='tables__head-title'>Кошелк</th>
              <th class='tables__head-title'>Дата</th>
              <th class='tables__head-title'>Комментарий</th>
            </tr>
          </thead>
          <tbody>
            <tr class='tables__body'>
              <td class='tables__body-text'>Maryee4</td>
              <td class='tables__body-text texts'><span class='tables__span'>Активен</span></td>
              <td class='tables__body-text'>Kloxdl55kx....</td>
              <td class='tables__body-text'>16.08.2022</td>
              <td class='tables__body-text'>Последняя активность пользователя 3 минуты назад</td>
            </tr>
            <tr class='tables__body'>
              <td class='tables__body-text'>Marukkkkkk</td>
              <td class='tables__body-text texts'><span class='tables__spans'>Не активен</span></td>
              <td class='tables__body-text'>K;dd6ewrer...</td>
              <td class='tables__body-text'>16.08.2022</td>
              <td class='tables__body-text'>Пользователь не активен на сайте более 60 дней</td>
            </tr>
          </tbody>
        </table>
       </div>
    </section>
    </main>
</body>
</html>
